/* ================================= 
  Flexbox
==================================== */

.container {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  /* Now height will no longer stretch from top to bottom */
  align-items: flex-end; /* flex-start */
}

.item {
  flex: 1;
}

.item-2 {
  flex: 2;
}
