/* ================================= 
  Flexbox
==================================== */

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-grow: 1;
}

/* Noticable only in the wider screens  */
.item-3 {
  flex-grow: 2;
}
