/* ================================= 
  Flexbox
==================================== */

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-grow: 1;
  /* Flex items will display at an equal size, when they're 200 pixels or wider, if they are narrower then borwser will redistribute the space */
  flex-basis: 200px;
}
